<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vitaheng.mapper.SpecificationOptionMapper">
    <resultMap id="specOptionResultMap" type="SpecificationOption">
        <id property="id" column="id"/>
        <result property="optionName" column="option_name"/>
        <result property="specId" column="spec_id"/>
    </resultMap>
    <select id="querySpecificationOptionById" parameterType="Long" resultMap="specOptionResultMap">
        select * from tb_specification_option where id=#{id}
    </select>
    <select id="queryListBySpecId" parameterType="Long" resultMap="specOptionResultMap">
        select * from tb_specification_option where spec_id=#{specId}
    </select>
    <select id="querySpecificationOptionList" resultMap="specOptionResultMap">
        select * from tb_specification_option
    </select>
    <insert id="insertSpecificationOption" parameterType="SpecificationOption">
        insert into tb_specification_option values(#{id},#{optionName},#{specId},#{orders})
    </insert>
    <update id="updateSpecificationOption" parameterType="SpecificationOption">
        update tb_specification_option set option_name=#{optionName},spec_id=#{specId},orders=#{orders} where id=#{id}
    </update>
    <delete id="deleteById" parameterType="Long">
        delete from tb_specification_option where id=#{id}
    </delete>
</mapper>